@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/*aplique directamente la tipografia a todo el estilo*/
* {
  margin: 0%;
  padding: 0%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-decoration: none; }

h1 {
  color: blueviolet;
  text-align: right; }

body {
  overflow-x: hidden; }

/*MENU*/
.m {
  color: #f2e4f2;
  background-color: black; }
  .m .menu {
    background-color: black; }
    .m .menu .menu__foto {
      margin-top: 40px;
      margin-bottom: 40px; }
    .m .menu .menu__texto {
      margin-top: 40px;
      margin-bottom: 40px;
      text-align: justify;
      justify-content: center; }

/*aca empieza nosotros*/
.social-box {
  background-color: black; }
  .social-box .box {
    top: 60px;
    bottom: 60px;
    background-color: #f2e4f2;
    border-radius: 10px;
    padding: 40px 10px;
    margin: 20px 0px;
    cursor: pointer;
    transition: all 0.5s ease-out; }
    .social-box .box:hover {
      box-shadow: 0 0 6px #f2e4f2; }
    .social-box .box .box-text {
      margin: 20px 0px;
      font-size: 15px;
      line-height: 30px; }
    .social-box .box .box-btn a {
      text-decoration: none;
      color: #b576ad;
      font-size: 16px; }

.fa {
  color: #b576ad; }

.nosotros {
  display: grid;
  grid-template-columns: 1fr  1fr;
  grid-template-areas: none;
  background-color: black;
  margin-top: 0px; }
  .nosotros .nosotros__miTexto {
    text-align: justify;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 20px; }
    .nosotros .nosotros__miTexto h2 {
      color: #f2e4f2;
      font-size: 25px; }
    .nosotros .nosotros__miTexto p {
      color: #f2e4f2;
      font-size: 15px; }
  .nosotros .nosotros__imagenN {
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 20px; }

/*aca termina nosotros*/
/*NAV*/
body {
  font-size: 1.6rem;
  line-height: 2;
  min-height: 100%; }

.menu-toggle .barra-home {
  color: rgba(0, 0, 0, 0.24); }

.menu-toggle .barra {
  width: 0;
  height: 0;
  position: relative;
  left: 3rem;
  top: 2rem;
  right: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 1;
  color: #f2e4f2; }

.overlay {
  position: absolute;
  width: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.24);
  z-index: 990;
  opacity: 1;
  transition: opacity .5s, transform .5s;
  transform: translateX(0); }

.menu-nav {
  background-color: rgba(0, 0, 0, 0.24);
  width: 30rem;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  transform: translateX(-30rem);
  transition: transform .5s;
  z-index: 1000; }
  .menu-nav ul {
    color: #f2e4f2;
    list-style: none;
    padding: 0;
    margin: 0;
    text-transform: uppercase; }
  .menu-nav li:hover {
    background-color: rgba(0, 0, 0, 0.737); }
  .menu-nav a {
    color: #f2e4f2;
    text-decoration: none; }
    .menu-nav a:hover {
      color: #f2e4f2; }
  .menu-nav .close {
    position: absolute;
    top: 2rem;
    left: 3rem;
    cursor: pointer; }
    .menu-nav .close i {
      color: #f2e4f2; }
  .menu-nav .fixed-position {
    overflow-y: hidden; }
  .menu-nav .active {
    transform: translateX(0); }
  .menu-nav .menu-open {
    width: 100%;
    opacity: 1; }

.fixed-position {
  overflow-y: hidden; }

.active {
  transform: translateX(0); }

.menu-open {
  width: 100%;
  opacity: 1; }

@media (min-width: 768px) {
  .menu-nav {
    background-color: rgba(0, 0, 0, 0.24);
    width: 100%;
    height: auto;
    transform: translateX(0);
    transition: transform 0s;
    position: fixed;
    display: flex; }
    .menu-nav .close {
      display: none; }
    .menu-nav ul {
      display: flex;
      justify-content: flex-end;
      text-align: center;
      list-style: none;
      cursor: pointer;
      margin: 0; }
    .menu-nav li {
      padding: 14px; }
      .menu-nav li:hover {
        background-color: rgba(0, 0, 0, 0.737); }
      .menu-nav li a:hover {
        color: #fce2ba; } }

.menu-toggle {
  display: none; }
  .menu-toggle .bars {
    display: none; }

.active {
  display: none; }

/*todo el nav*/
/*aca empieza ubicacion*/
.ubicacion {
  color: #f2e4f2;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(black, #2c2c2c);
  margin-top: 0px;
  text-align: center;
  align-items: center; }
  .ubicacion .ubicacion__mapa {
    margin-bottom: 50px; }

/*aca termina ubicacion*/
/*aca empieza pedidos*/
.contenedorGaleria {
  width: 100%;
  height: 90%;
  display: grid;
  background-color: black;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr;
  grid-area: "pz" "p1" "p2" "p3" "p4" "p5";
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  align-content: center;
  justify-content: center; }
  .contenedorGaleria .contenedorGaleria__img {
    text-decoration: none;
    margin: 30px 30px 30px 50px; }
    .contenedorGaleria .contenedorGaleria__img a {
      text-decoration: none; }
      .contenedorGaleria .contenedorGaleria__img a h3 {
        color: #f2e4f2;
        text-align: center;
        background-color: black; }
    .contenedorGaleria .contenedorGaleria__img:hover {
      transform: scale(1.1); }
    .contenedorGaleria .contenedorGaleria__img img {
      width: 350px;
      height: 350px; }

.abrirModal {
  text-decoration: none;
  /*background: rgba(48, 48, 48, 0.5);*/
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  width: 90%;
  align-items: center;
  display: none; }
  .abrirModal .fotoModal {
    justify-content: center;
    align-items: center;
    background-image: url("../imagenes/puntozeroxl.jpg");
    /*acordarme de poneer ../ cuando quiero poner una imagen de backgropund*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  .abrirModal .pedidoModal {
    top: 2px;
    background-color: black;
    color: #f2e4f2; }
    .abrirModal .pedidoModal .far {
      padding: 11px;
      text-decoration: none;
      color: #f2e4f2;
      position: absolute;
      margin-left: 0px;
      right: 2px;
      font-size: 25px;
      cursor: pointer; }

/*aca termina pedidos*/
/*imagen comun para todos*/
.imagenB {
  width: 100%;
  height: 100%; }
  .imagenB img {
    width: 100%; }

/*aca termina la imagen comun para todos los html*/
/*aca el inicio*/
.menu {
  background-color: black;
  bottom: 0px;
  top: 0px; }
  .menu .menu__delivery .deliveryFoto {
    text-align: center;
    display: block;
    margin: auto;
    width: 20%; }
  .menu .menu__delivery h3 {
    margin-top: 60px;
    text-align: center;
    color: #f2e4f2;
    font-family: "raleway", sans-serif;
    font-size: 25px; }
  .menu .menu__delivery p {
    text-align: center;
    color: #f2e4f2;
    font-family: "raleway", sans-serif; }
  .menu .menu__delivery a {
    text-decoration: none; }
    .menu .menu__delivery a h2 {
      font-family: "ultra", serif;
      font-size: 30px;
      color: #f2e4f2;
      text-align: center;
      text-decoration: none;
      bottom: 60px; }

.carouselOfertas {
  background-color: black; }
  .carouselOfertas .carouselOfertas__row {
    background-color: black;
    justify-content: center; }
    .carouselOfertas .carouselOfertas__row img {
      margin-top: 40px;
      margin-bottom: 40px; }

/*footer*/
.footer {
  color: #f2e4f2;
  text-decoration: none;
  text-align: center;
  background-color: black;
  position: relative; }
  .footer .footer__texto {
    margin-top: 20px;
    color: #f2e4f2;
    font-size: 20px; }
  .footer .footer__redes {
    margin-top: 20px; }
    .footer .footer__redes .fab a {
      text-decoration: none;
      color: #f2e4f2;
      font-size: 20px; }

/*responsive pedidos*/
