@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); /*aplique directamente la tipografia a todo el estilo*/


* {
  margin: 0%;
  padding: 0%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-decoration: none;
}
$color:rgb(242, 228, 242 );
h1{
    color:blueviolet; text-align: right;
   
    
}
body{
  overflow-x: hidden;
}
/*MENU*/
.m{
  width: 100%;
  height: 100%;
  background-color: black;
  color: $color;
  .menu{
   background-color: black;
   
   .menu__foto{
     margin-top: 40px;
     margin-bottom: 40px;
     }
     .menu__texto{
       color:$color;
       margin-top: 40px;
       margin-bottom: 40px;
       text-align: justify;
       justify-content: center;
     }
  }
}
  







/*aca empieza nosotros*/
.social-box
{
  
  background-color: black;
  .box{
    top: 60px;
    bottom: 60px;
    background: linear-gradient(78deg, #191415, #610f64);
    border-radius: 10px;
    padding: 40px 10px;
    margin: 20px 0px;
    cursor: pointer;
    transition: all 0.5s ease-out;
    &:hover{
      box-shadow: 0 0 6px $color;
    }
    .box-text{
      margin: 20px 0px;
      font-size:15px ;
      line-height: 30px;
      color: $color;
    }
    .box-title{
      h3{
        color:$color
      }
    }
    .box-btn{
      a{
        text-decoration: none;
        color: $color;
        font-size: 16px;

      }
    }
  }
}




.fa{
   color:$color;
}


.nosotros
{ 
 
 display: grid;
 grid-template-columns: 1fr  1fr;
 grid-template-areas: none;
 background-color: black;
 margin-top: 0px;
   .nosotros__miTexto{ 
    text-align: justify;
    padding: 10px;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
     h2{
       color:$color;
       font-size: 30px;
      }
     p {
       color:$color;
       font-size: 15px;
     }

   }
   .nosotros__imagenN{
    margin-top: 50px ;
    margin-left: 20px;
    margin-bottom: 20px;
    img{
      width: 100%;
      padding: 10px;
    }
   }
   
}
@media (max-width: 768px ){
  .nosotros{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

/*aca termina nosotros*/

/*NAV*/

.nav-menu {
  background-color:black;
  width:100%;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  transform: translateX(-30rem);
  transition: transform .5s;
  z-index: 1000;
}

.nav-menu ul {
  color:$color;
  list-style: none;
  padding: 0;
}

.nav-menu a:hover {
  color:$color;
}

.barra {
  width: 0;
  height: 0;
  position: relative;
  left: 3rem;
  top: 2rem;
  right: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 1;
  color: $color;
}

.barra-home {
  color: $color;
}

.close i {
  color: $color;
}


.overlay {
  position: absolute;
  width: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.24);
  z-index: 990;
  opacity: 1;
  transition: opacity .5s, transform .5s;
  transform: translateX(0);
}

.menu-open {
  width: 100%;
  opacity: 1;
}


.close {
  position: absolute;
  top: 2rem;
  left: 3rem;
  cursor: pointer;
}

.nav-menu ul {
  margin: 0;
  text-transform: uppercase;
}

.nav-menu a {
  color: rgb(242, 228, 242 );
  text-decoration: none;
}

.active {
  transform: translateX(0);
}

.fixed-position {
  overflow-y: hidden;
}


@media (min-width: 768px) {

  .nav-menu {
    background-color:  rgba(0, 0, 0, 0.24);
    width: 100%;
    height: auto;
    transform: translateX(0);
    transition: transform 0s;
    position:fixed;
    overflow-x: hidden;
    
  }

      
  .nav-menu ul {
      display: flex;
      justify-content: flex-end;
      text-align: center;
      list-style: none;
      cursor: pointer;
      margin: 0;
  }
  .nav-menu ul li{
    padding: 14px;
  }
    .nav-menu ul li:hover{
      background-color: rgba(0, 0, 0, 0.737);
    }
   .nav-menu ul li a:hover{
      color: rgb(252, 226, 186);
    }
  .close {
      display: none;
  }
  
  .nav-menu {
      display: flex;
    
  }

  .nav menu ul{
      display: flex;
  }

  .menu-toggle {
      display: none;
  }

  .bars {
      display: none;
  }


  .active {
      display: none;
  }
}

/*todo el nav*/ 

 /*aca empieza ubicacion*/
 .ubicacion 
 { 
  color: $color;
  display: flex; 
  flex-direction: column;
  background-image: linear-gradient(black,rgb(44, 44, 44));
  margin-top: 0px;
  text-align: center;
  align-items: center;
  h2{
    font-size: 40px;
    margin-top: 20px;
  }
   .ubicacion__mapa {
     width: auto;
    margin-bottom: 50px;
    }
}
/*aca termina ubicacion*/


 /*aca empieza pedidos*/
 


 @mixin flex ($dir: row, $wrap: wrap, $ai: center, $jc: center, $ac: center){
  display: flex;
  flex-direction: $dir;
  flex-wrap: $wrap;
  align-items: $ai;
  justify-content: $jc;
  align-content: $ac;
}
@mixin imagen ($size: cover, $posicion: center, $repeat: no-repeat) {
  background-size: $size;
  background-position: $posicion;
  background-repeat: $repeat;
  
}


.contenedorCards{
  @include flex;
  min-height: 100vh;
  padding: 20px 0;
  box-sizing: border-box;
  background-color: black;
  .card{
    width: 300px;
    transition: ease all .3s;
    background-color: black;
    margin: 20px 5px;
    border-radius: 10px;
    border-color: rgb(26, 25, 25);
    .wrapper{
      margin: 20px 10px 10px 10px;
      padding-top: 300px;
      box-sizing: border-box;
      position: relative;
      box-shadow: 0 0 20px 10px rgba(black,.1);
      transition: ease all .3s;
      &:hover{
        transform: translateY(-10px);
        .imgProd{
          height: 350px;
          img{
            width: 278px;
            height: 300px;
          }
        }
      }
      
      .imgProd{
        @include imagen('', contain, center bottom);
        position: absolute;
        bottom: calc(100% - 300px);
        width: 100%;
        height: 300px;
        transition: ease all .3s;
        img{
          width: 278px;
          height: 300px;
        }
      }
      .infoProd{
        @include flex(column, nowrap);
        height: 170px;
        padding: 20px;
        box-sizing: border-box;
        color: $color;
        p{
          width: 100%;
          font-size: 14px;
          text-align: center;
        }
        .nombreProd{
          font-family: "Roboto",sans-serif;
          color: $color;
          margin-bottom: 10px;
          font-size: 16px;
          font-weight: 600;
          
          
        }
        .extraInfo{
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        .actions{
          @include flex($jc: space-between);
          width: 100%;
          margin-top: auto;
          padding-top: 10px;
          .preciosGrupo{
            flex-grow: 1;
            position: relative;
            .precio{
              font-family: "Roboto",sans-serif;
              color: $color;
              font-size: 25px;
              font-weight: 600;
              text-align: left;
              }
            }
            .icono{
              margin-bottom: 25px;
              a{
                .fas{
                  color:$color;
                  &:hover{
                    color: rgb(250, 214, 160);
                  }

                }
              }
              
            }
          }
          
         }
        }
      }
    }
  
 .abrirModal{
  text-decoration: none;
  /*background: rgba(48, 48, 48, 0.5);*/
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  width: 90%;
  align-items: center;
  display: none;

  .fotoModal{
    justify-content: center;
    align-items: center;
    background-image:url("../imagenes/puntozeroxl.jpg"); /*acordarme de poneer ../ cuando quiero poner una imagen de backgropund*/
    background-size: contain ;
    background-repeat: no-repeat;
    background-position: center;
    }
    .pedidoModal{
    top: 2px;
    background-color:black;
    color: $color;
    .pedido{
        font-size: 25px;
        color: $color;
        border-bottom-width: 2px;
        border-bottom-color: $color;
       
     }
     .pedidoTexto{
       color: $color;
       margin-top: 5px;
       border-top-color: $color;
       border-top-width: 3px;
     }
  
     .far {
      padding: 11px;
      text-decoration: none;
      color: $color;
      position: absolute;
      margin-left: 0px;
      right: 2px;
      font-size: 25px;
      cursor: pointer;
     }

    }  
}
 
 /*aca termina pedidos*/
/*imagen comun para todos*/

.imagenB
{
  width: 100%;
  height: 100%;
  img{
    width: 100%;
  }
}
/*aca termina la imagen comun para todos los html*/
 

/*aca el inicio*/
.menu{
  background-color: black;
  bottom: 0px;
  top: 0px;
  .menu__delivery{
  .deliveryFoto{
    text-align: center;
    display: block;
    margin: auto;
    width: 20%;
    
  }
  h3{
    margin-top: 60px;
    text-align: center;
    color: $color;
    font-family: "raleway", sans-serif;
    font-size: 25px;
  }
  p{
    text-align: center;
    color: $color;
    font-family: "raleway", sans-serif;

  }
  a{
    text-decoration: none;
    margin-bottom: 60px;
  h2{
    font-family: "ultra", serif;
    font-size: 30px;
    color: $color;
    text-align: center;
    text-decoration: none;
    bottom: 60px;
    }
   }
    
   
  }
}
.carousel{
   background-color: black;
  padding: 10px;
  margin-bottom: 0px;
}


/*footer*/
   footer{
     
   .contenido__footer{
    color: $color;
    text-decoration: none;
    text-align: center;
    background-color:black ;
   .footer__texto{
     margin-top: 20px;
     color: $color;
     font-size: 15px;
   }
   .footer__redes{
     margin-top: 20px;
     .fab{
      a{
       text-decoration: none;
       color:$color;
       font-size: 15px;
       
     }
    }
   }
  }
   }
   @media (max-width: 768px ) {
     footer{
       overflow-x: hidden;
       .contenido__footer{
         font-size: 13px;
         .footer__texto{
           font-size: 13px;
         }
         .footer__redes{
           font-size: 13px;
         }
       }
     }
     
   }

  


  /*responsive pedidos*/

  
 
 
 
 
  
