@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); /*aplique directamente la tipografia a todo el estilo*/


* {
  margin: 0%;
  padding: 0%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-decoration: none;
}
$color:rgb(242, 228, 242 );
h1{
    color:blueviolet; text-align: right;
   
    
}
body{
  overflow-x: hidden;
}
/*MENU*/
.m{
  color: $color;
  background-color: black;
  .menu{
   background-color: black;
   
   .menu__foto{
     margin-top: 40px;
     margin-bottom: 40px;
     }
     .menu__texto{
       margin-top: 40px;
       margin-bottom: 40px;
       text-align: justify;
       justify-content: center;
     }
  }
}
  







/*aca empieza nosotros*/
.social-box
{
  
  background-color: black;
  .box{
    top: 60px;
    bottom: 60px;
    background-color: rgb(242, 228, 242);
    border-radius: 10px;
    padding: 40px 10px;
    margin: 20px 0px;
    cursor: pointer;
    transition: all 0.5s ease-out;
    &:hover{
      box-shadow: 0 0 6px $color;
    }
    .box-text{
      margin: 20px 0px;
      font-size:15px ;
      line-height: 30px;
    }
    .box-btn{
      a{
        text-decoration: none;
        color: rgb(181, 118, 173);
        font-size: 16px;

      }
    }
  }
}




.fa{
   color:rgb(181, 118, 173);
}


.nosotros
{ 
 
 display: grid;
 grid-template-columns: 1fr  1fr;
 grid-template-areas: none;
 background-color: black;
 margin-top: 0px;
   .nosotros__miTexto{ 
    text-align: justify;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
     h2{
       color:$color;
       font-size: 25px;
      }
     p {
       color:$color;
       font-size: 15px;
     }

   }
   .nosotros__imagenN{
    margin-top: 50px ;
    margin-left: 20px;
    margin-bottom: 20px;
   }
   
}

/*aca termina nosotros*/

/*NAV*/

.nav-menu {
  background-color:rgba(0, 0, 0, 0.24);
  width: 30rem;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  transform: translateX(-30rem);
  transition: transform .5s;
  z-index: 1000;
}

.nav-menu ul {
  color:rgb(242, 228, 242 );
  list-style: none;
  padding: 0;
}

.nav-menu a:hover {
  color:rgb(242, 228, 242 );
}

.barra {
  width: 0;
  height: 0;
  position: relative;
  left: 3rem;
  top: 2rem;
  right: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 1;
  color: rgb(242, 228, 242 );
}

.barra-home {
  color: rgb(242, 228, 242 )
}

.close i {
  color: rgb(242, 228, 242 )
}


.overlay {
  position: absolute;
  width: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.24);
  z-index: 990;
  opacity: 1;
  transition: opacity .5s, transform .5s;
  transform: translateX(0);
}

.menu-open {
  width: 100%;
  opacity: 1;
}


.close {
  position: absolute;
  top: 2rem;
  left: 3rem;
  cursor: pointer;
}

.nav-menu ul {
  margin: 0;
  text-transform: uppercase;
}

.nav-menu a {
  color: rgb(242, 228, 242 );
  text-decoration: none;
}

.active {
  transform: translateX(0);
}

.fixed-position {
  overflow-y: hidden;
}


@media (min-width: 768px) {

  .nav-menu {
    background-color:  rgba(0, 0, 0, 0.24);
    width: 100%;
    height: auto;
    transform: translateX(0);
    transition: transform 0s;
    position:fixed;
    
  }
      
  .nav-menu ul {
      display: flex;
      justify-content: flex-end;
      text-align: center;
      list-style: none;
      cursor: pointer;
      margin: 0;
  }
  .nav-menu ul li{
    padding: 14px;
  }
    .nav-menu ul li:hover{
      background-color: rgba(0, 0, 0, 0.737);
    }
   .nav-menu ul li a:hover{
      color: rgb(252, 226, 186);
    }
  .close {
      display: none;
  }
  
  .nav-menu {
      display: flex;
    
  }

  .nav menu ul{
      display: flex;
  }

  .menu-toggle {
      display: none;
  }

  .bars {
      display: none;
  }


  .active {
      display: none;
  }
}

/*todo el nav*/ 

 /*aca empieza ubicacion*/
 .ubicacion 
 { 
  color: $color;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(black,rgb(44, 44, 44));
  margin-top: 0px;
  text-align: center;
  align-items: center;
   .ubicacion__mapa {
    margin-bottom: 50px;
    }
}
/*aca termina ubicacion*/


 /*aca empieza pedidos*/
 
 
 .contenedorGaleria {
   width: 100%;
   height: 90%;
   display: grid;
   background-color:black ;
   grid-template-columns: 1fr 1fr 1fr;
   grid-auto-rows: 1fr 1fr;
   grid-area: "pz" "p1" "p2" "p3" "p4" "p5";
   grid-column-gap: 2px;
   grid-row-gap: 2px;
   align-content: center;
   justify-content: center;
 .contenedorGaleria__img
 { 
   text-decoration: none;
   margin: 30px 30px 30px 50px;
    a{
      text-decoration: none;
     h3{
      color: $color;
      text-align: center;
      background-color:black ;
      }
    }
     &:hover{
     transform: scale(1.1);
     }
     img {
     width:350px;
     height: 350px;
     }

    }
 }
 .abrirModal{
  text-decoration: none;
  /*background: rgba(48, 48, 48, 0.5);*/
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  width: 90%;
  align-items: center;
  display: none;

  .fotoModal{
    justify-content: center;
    align-items: center;
    background-image:url("../imagenes/puntozeroxl.jpg"); /*acordarme de poneer ../ cuando quiero poner una imagen de backgropund*/
    background-size: contain ;
    background-repeat: no-repeat;
    background-position: center;
    }
    .pedidoModal{
    top: 2px;
    background-color:black;
    color: $color;
  
     .far {
      padding: 11px;
      text-decoration: none;
      color: $color;
      position: absolute;
      margin-left: 0px;
      right: 2px;
      font-size: 25px;
      cursor: pointer;
     }

    }  
}
 
 /*aca termina pedidos*/
/*imagen comun para todos*/

.imagenB
{
  width: 100%;
  height: 100%;
  img{
    width: 100%;
  }
}
/*aca termina la imagen comun para todos los html*/
 

/*aca el inicio*/
.menu{
  background-color: black;
  bottom: 0px;
  top: 0px;
  .menu__delivery{
  .deliveryFoto{
    text-align: center;
    display: block;
    margin: auto;
    width: 20%;
    
  }
  h3{
    margin-top: 60px;
    text-align: center;
    color: $color;
    font-family: "raleway", sans-serif;
    font-size: 25px;
  }
  p{
    text-align: center;
    color: $color;
    font-family: "raleway", sans-serif;

  }
  a{
    text-decoration: none;
  h2{
    font-family: "ultra", serif;
    font-size: 30px;
    color: $color;
    text-align: center;
    text-decoration: none;
    bottom: 60px;
    }
   }
    
   
  }
}
.carouselOfertas{
   background-color: black;
   .carouselOfertas__row { 
    background-color: black;
    justify-content: center;
     img{
      margin-top: 40px;
      margin-bottom: 40px; 

      }
   }
}


/*footer*/

  
  .footer{
   color: $color;
   text-decoration: none;
   text-align: center;
   background-color:black ;
   position:relative;
   
   
   .footer__texto{
     margin-top: 20px;
     color: $color;
     font-size: 20px;
   }
   .footer__redes{
     margin-top: 20px;
     .fab{
      a{
       text-decoration: none;
       color:$color;
       font-size: 20px;
       
     }
    }
   }
  }

  


  /*responsive pedidos*/

  
 
 
 
 
  
